*.sql linguist-detectable=True
*.bat linguist-detectable=True

# Scripts fornecidos externamente / base de dados da disciplina
SQL_P3_BD2_E2/Script_BPPedidos_Povoando_Tabelas.sql linguist-generated=true
SQL_P3_BD2_E2/Script_BPPedidos_Criando_Tabelas.sql linguist-vendored
